**/bin/
**/obj/

*.user
*.suo
*.rsuser

*.log
Logs/
.vscode/
.idea/
*.sln.iml
*.vs/

*.nupkg
*.snupkg
.nuget/
packages/
node_modules/

docker-compose.yml
docker-compose.*.yml

.git/
.gitignore

artifacts/
